extends layout

block content

    head
        title Page Not Found

        h1 Page Not Found
        p Sorry! We couldn't find the page you were looking for.
        a.button(href="/") Home
